<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/HomeSS.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<nav>
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Market", "Market", "Market")
    @*@Html.ActionLink("Login", "Login", "Account")
        @Html.ActionLink("Register", "Register", "Account")*@
    @Html.ActionLink("Control Panel", "Index", "Home")
    @Html.Partial("_LoginPartial")
</nav>
<header>
    <a href="~/Home/Index"><img src="~/Content/Images/logo.png" /></a>
</header>
<body>
    @RenderBody()
</body>
<footer>Website By:  James Corkran &copy; DarkEden 2015</footer>
</html>
