<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/LayoutSS.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<header>
    <a href="~/Home/Index"><img src="~/Content/Images/logo.png" /></a>
</header>
<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home") @*, new { area = "" }, new { @class = "navbar-brand" }*@</li>
        <li>@Html.ActionLink("Market", "Index", "Home")</li>
        <li>@Html.ActionLink("Login", "Index", "Home")</li>
        <li>@Html.ActionLink("Register", "Index", "Home")</li>
        <li>@Html.ActionLink("CP", "Index", "Home")</li>
    </ul>
</nav>
<body>
    @RenderBody()
</body>
<footer> &copy; DarkEden 2015</footer>
</html>
