@model IEnumerable<ECommerceSite.Models.Product>
@{
    ViewBag.Title = "Item Index";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<link href="~/Content/Styles/ItemIndexSS.css" type="text/css" rel="stylesheet" />
<div class="home_container">
    <div id="catalog">
        <h1 class="itemclass_header">Vampire Class Items</h1>
        <hr />
        <div id="vampItems">
            <div class="itemMarket">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Features</th>
                    </tr>
                    @foreach (var i in Model)
                    { 
                        <tr>
                            <td>@Html.DisplayFor(modelItem => i.Id)</td>
                            <td>@Html.DisplayFor(modelItem => i.Name)</td>
                            <td>@Html.DisplayFor(modelItem => i.Price)</td>
                            <td>@Html.DisplayFor(modelItem => i.Description)</td>
                            <td>@Html.DisplayFor(modelItem => i.Image)</td>
                            <td>@Html.DisplayFor(modelItem => i.Features)</td>
                            <td><a href="~/Items/Edit/@i.Id">Edit</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div id="management_link">
            @Html.ActionLink("Add Item", "Add", "Items")
        </div>
    </div>
</div>
